@model Ecommerce_Project.DTOs.Product.GetProductDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = "~/Views/Shared/adminLayout.cshtml";
}


<!-- Breadcomb area Start-->
<div class="breadcomb-area mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Update Product: <span class="text-primary">@Model.Name</span></h2>
                                    @* <p>Welcome to Notika <span class="bread-ntd">Admin Template</span></p> *@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->

<div class="container">
    <form asp-controller="Admin" asp-action="AddProductImage" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="hidden" id="productId" name="productId" value="@Model.Id" required/>
            <div class="form-group">
                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                <input type="file" name="files" multiple class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary mb-4">Add Image</button>
        </div>
    </form>
</div>
